@model Proyecto.Models.Cliente

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CEDULA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CEDULA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NOMBRE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NOMBRE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.APELLIDO1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.APELLIDO1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.APELLIDO2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.APELLIDO2)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PKCLIENTE">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
